body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #f0f0f0;
    position: relative;
}

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.welcome-message {
    position: fixed;
    top: 15%;
    left: 33%;
    transform: translateX(-50%);
    font-size: 50px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.8);
    z-index: 1;
    background: rgba(0, 0, 0, 0.4);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
    animation: pulseAnimation 3s infinite;
    font-family: 'Roboto', sans-serif;
}

@keyframes pulseAnimation {
    0% {
        transform: scale(1);
        opacity: 0.8;
    }
    50% {
        transform: scale(1.1);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 0.8;
    }
}

.search-bar {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1;
    backdrop-filter: blur(10px);
}

.search-bar input[type="text"] {
    width: calc(100% - 90px);
    padding: 10px;
    margin-right: 10px;
    border: none;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-bar button {
    padding: 10px 20px;
    background: #007BFF;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background 0.3s;
}

.search-bar button:hover {
    background: #0056b3;
}

#todo-list {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 300px;
    max-height: 80vh;
    overflow-y: auto;
    padding: 15px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1;
    display: none;
    backdrop-filter: blur(10px);
    box-sizing: border-box;
    transition: transform 0.3s, box-shadow 0.3s;
}

#todo-list:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

#todo-list h2 {
    margin: 0 0 10px;
    font-size: 18px;
    color: #333;
    text-align: center;
}

#todo-list p {
    margin: 0 0 10px;
    font-size: 16px;
    color: #333;
    text-align: center;
}

#todo-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#todo-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    color: #333;
    position: relative;
}

#todo-list li:last-child {
    border-bottom: none;
}

.delete-btn {
    background: none;
    border: none;
    color: #FF6B6B;
    font-size: 16px;
    cursor: pointer;
    transition: color 0.3s;
}

.delete-btn:hover {
    color: #FF4C4C;
    background-color: #ddd;
    border-radius: 100px;
}

.undo-btn {
    display: block;
    margin: 10px auto 0;
    padding: 10px 20px;
    background: #28a745;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background 0.3s;
}

.undo-btn:hover {
    background: #218838;
}

.timer-box {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 300px;
    max-height: 80vh;
    overflow-y: auto;
    padding: 15px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1;
    backdrop-filter: blur(10px);
    box-sizing: border-box;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.timer-box:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.timer-heading {
    margin: 0 0 10px;
    font-size: 18px;
    color: #333;
}

.timer {
    font-size: 24px;
    color: #333;
}

.weather-box {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 300px;
    max-height: 80vh;
    overflow-y: auto;
    padding: 15px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1;
    backdrop-filter: blur(10px);
    box-sizing: border-box;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.weather-box:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.weather-heading {
    margin: 0 0 10px;
    font-size: 18px;
    color: #333;
}

.weather-box p {
    margin: 0 0 10px;
    font-size: 16px;
    color: #333;
    text-align: center;
}
.notion-widget {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 300px;
    height: 300px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1;
    backdrop-filter: blur(10px);
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
}
.calendar-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 800px;
    height: 600px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1;
    overflow: hidden;
}

.notion-widget:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}
